#    File:    options.cfg
#    Author:  Marvin Smith
#    Date:    9/18/2015
#
#    Purpose: Yum-Replicator Configuration File
#

[general]


#  Repo directory
SYNC_DIRECTORY=output/rhel7

#  Generate Run Script
GEN_RUN_SCRIPT=True
GEN_RUN_SCRIPT_PATH=dry-run.sh

#  Reposync Command
REPO_SYNC_COMMAND=reposync
REPO_SYNC_ARGS=-l -m


[repo-config]

#  Path to Repository Config File
REPO_CONFIG_PATH=reposync.csv

#  Format of Repo Configuration File
#
#  Supported Formats
#  - CSV
#
REPO_CONFIG_FORMAT='csv'

#  Automatically enable systems enabled on yum
ACTIVATE_ENABLED_REPOS=True

[repo-spec]

#  Write Spec File
WRITE_REPO_SPEC_FILES=True

#  Write Composite Spec File
WRITE_REPO_COMPOSITE_SPEC=True

[logging]

#
#    Default Log Level
#
log_level=INFO

#
#    Flag if we want to log to a file
#
log_to_file=False

#
#   Path to  logfile
#
log_pathname=yum-replicator.log

